@font-face {
  font-family: 'handmade';
  src:  url('fonts/handmade.eot?wvr7hw');
  src:  url('fonts/handmade.eot?wvr7hw#iefix') format('embedded-opentype'),
    url('fonts/handmade.ttf?wvr7hw') format('truetype'),
    url('fonts/handmade.woff?wvr7hw') format('woff'),
    url('fonts/handmade.svg?wvr7hw#handmade') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="handmade-"], [class*=" handmade-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'handmade' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.handmade-shopping_basket-24px:before {
  content: "\e905";
}
.handmade-undo:before {
  content: "\e907";
}
.handmade-warning:before {
  content: "\e908";
}
.handmade-check:before {
  content: "\e909";
}
.handmade-help:before {
  content: "\e90a";
}
.handmade-angle-up:before {
  content: "\e90b";
}
.handmade-more_horiz-24px:before {
  content: "\e906";
}
.handmade-attach_money-24px:before {
  content: "\e900";
}
.handmade-history-24px:before {
  content: "\e901";
}
.handmade-local_shipping-24px:before {
  content: "\e902";
}
.handmade-payments-24px:before {
  content: "\e903";
}
.handmade-person_outline-24px:before {
  content: "\e904";
}
